* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(232, 221, 200) !important;
}

.item {
  width: 50%;
  min-height: 200px;
  margin: 50px auto;
  margin-top: 20vh;
  padding: 50px 50px 0 0;
}

.item img {
  width: 100%;
  margin-top: -25px;
}

.img-half {
  width: 40%;
}

img.img-smaller {
  width: 35%;
  margin-top: -90px;
}

.img-left {
  text-align: right;
}

.group {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 60px 0;
  justify-content: space-around;
}


.special-title {
  margin-right: 15vw;
  margin-top: -35vh;
  margin-bottom: 15vh;
  padding: 50px;
}

.parallax-left {
  /* The image used */
  background-image: url("https://ca-times.brightspotcdn.com/dims4/default/3d73eeb/2147483647/strip/true/crop/1292x861+0+0/resize/840x560!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F62%2F95%2F290a0c9748479ffbb9879364e69a%2Fla-hm-ga-get-rid-of-your-weeds-nut-grass-web-lead.JPG");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%;
}

.intro {
  column-count: 2;
  column-gap: 20px;
  padding: 50px;

}
