* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #f7f3ec !important;
}

.item {
  width: 50%;
  min-height: 200px;
  margin: 50px auto;
  margin-top: 20vh;
  padding: 50px 50px 0 0;


}

.item img {
  margin-top: -25px;
}

img {
  width: 100%;
  transition: all 0.3s linear;
}


.img-half {
  width: 100%;
}

img.img-smaller {
  width: 100%;
}

.img-left {
  text-align: right;
}

.group {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 60px 0;
  justify-content: space-around;
}


.special-title {
  margin-right: 15vw;
  margin-top: -35vh;
  margin-bottom: 15vh;
  padding: 50px;
}


.intro {
  column-count: 2;
  column-gap: 60px;
  padding: 50px;
  text-align: justify;
  height: 100vh;


}


.img-container {
  overflow: hidden;
}

.number-link a {
  position: absolute;
  left: 48%;
  z-index: 9999;
  font-size: 3em;
  color: #092305;
  transition: all 0.2s ease;
}

.number-link a:hover {
  text-decoration: none;
  color: #164f0e;
}
